.container-imagens {}

.container-information {
  width: 1220px;
  margin: 0 auto;

  .title {
    font-weight: 600;
    font-size: 20px;
    color: #575A68;
  }

  .date {
    font-size: 12px;
    color: #8091AC;
    margin: 0 0 5px 0;

    span {
      color: var(--color-danger);
      float: left;
      font-size: 14px;
      margin: 0 5px 0 0;
    }
  }
}
