@import 'src/styles/settings/responsive';

.container {
  width: 1220px;
  margin: 0 auto;

  @include for-tablet {
    width: 100%;
  }

  .titlePage {
    font-weight: bold;
    font-size: 22px;
    float: left;
    width: 100%;
    margin-top: 20px;
    color: #575A68;

    @include for-tablet {
      width: 90%;
      margin: 20px 5% 0 5%;
    }

  }

  .grad {
    width: 100%;
    float: left;
    margin: 30px 0;

    @include for-tablet {
      width: 100%;
      margin: 10px 0;
    }


    >.card-new {
      width: 380px;
      margin: 0 20px 0 0;
      float: left;
      height: 248px;
      border-radius: 10px;


      @include for-tablet {
        width: 90%;
        margin: 10px 5% 0 5%;
      }


      .info {
        position: absolute;
        width: 360px;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.311);
        margin-top: 160px;
        float: left;
        border-radius: 0 0 10px 10px;

        @include for-tablet {
          width: 88%;
          padding: 20px 1%;
          margin-top: 129px;
          border-radius: 0 0 10px 10px;

        }

      }

      .image {
        width: 380px;
        border-radius: 10px;
        height: 248px;

        @include for-tablet {
          width: 100%;
          padding: 20px 1%;
        }

        img {
          width: 100%;
          margin: 0;
          border-radius: 10px;
        }
      }

      .date {
        font-size: 12px;
        color: #fff;
        margin: 0 0 5px 0;

        span {
          color: var(--color-danger);
          float: left;
          font-size: 14px;
          margin: 0 5px 0 0;
        }
      }

      .favorite {
        margin-top: 20px;
        width: 40px;
        height: 40px;
        float: right;
        line-height: 50px;
        text-align: center;
        border-radius: 90px;
        background: var(--color-white);

        span {
          color: var(--color-dark);
        }
      }

      .title {
        font-weight: 600;
        font-size: 16px;
        color: #fff;
      }
    }
  }
}
