<app-header></app-header>
<div class="container">
  <div class="titlePage">Últimas notícias</div>
  <div class="grad" (click)="navigate()">
    <div class="card-new">
      <div class="image">
        <div class="info">
          <div class="favorite">
            <span class="material-symbols-outlined"> favorite </span>
          </div>
          <div class="date">
            <span class="material-symbols-outlined"> schedule </span>Há 45
            minutos
          </div>
          <div class="title">
            Instituto de Educação, Ciência e Tecnologia do Maranhão
          </div>
        </div>
        <img alt="Obra" src="assets/images/obra2.jpeg" />
      </div>
    </div>
    <div class="card-new">
      <div class="image">
        <div class="info">
          <div class="favorite">
            <span class="material-symbols-outlined"> favorite </span>
          </div>
          <div class="date">
            <span class="material-symbols-outlined"> schedule </span>Há 45
            minutos
          </div>
          <div class="title">
            Instituto de Educação, Ciência e Tecnologia do Maranhão
          </div>
        </div>
        <img alt="Obra" src="assets/images/obra3.jpeg" />
      </div>
    </div>
    <div class="card-new">
      <div class="image">
        <div class="info">
          <div class="favorite">
            <span class="material-symbols-outlined"> favorite </span>
          </div>
          <div class="date">
            <span class="material-symbols-outlined"> schedule </span>Há 45
            minutos
          </div>
          <div class="title">
            Instituto de Educação, Ciência e Tecnologia do Maranhão
          </div>
        </div>
        <img alt="Obra" src="assets/images/obra1.jpeg" />
      </div>
    </div>
    <app-card-news></app-card-news>
  </div>
</div>
<app-footer></app-footer>
