<app-header [construction]="construction"></app-header>
<div class="container">
  <div class="home"><b>olá,</b> aqui é a sua conta :)</div>
  <div class="dados">
    <b>seus dados</b>
    <div class="information">
      <label>Nome completo</label>
      <input type="text" placeholder="Nome completo" />
      <label>CPF</label>
      <input type="text" placeholder="Informe seu CPF" />
      <label>E-mail</label>
      <input type="text" placeholder="Digite seu e-mail" />
      <div class="button">Salvar alterações</div>
    </div>
  </div>
</div>
