@import 'src/styles/settings/responsive';

.card-news {
  width: 100%;
  padding: 30px 0;
  float: left;
  overflow-x: scroll;

  @include for-tablet {
    width: 90%;
    margin: 5%;
  }

  .titleCard {
    font-style: normal;
    width: 1220px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 30px;
    color: var(--color-dark);

    @include for-tablet {
      width: 100%;

    }
  }

  .container {
    width: 1220px;
    margin: 0 auto;
    max-width: 100000px;
    display: -webkit-flex;
    overflow-x: scroll;

    @include for-tablet {
      width: 100%;
      margin-top: 30px;

    }



    >.card-new {
      width: 222px;
      margin: 0 10px 0 0;
      float: left;
      border-radius: 10px;
      padding: 5px 5px 10px 5px;
      background-color: var(--color-white);

      .favorite {
        position: relative;
        width: 40px;
        right: 10px;
        top: 10px;
        height: 40px;
        float: right;
        z-index: 11111111;
        line-height: 50px;
        text-align: center;
        border-radius: 90px;
        background: var(--color-white);

        span {
          color: var(--color-dark);
        }
      }


      .flag {
        position: relative;
        width: auto;
        right: -30px;
        top: 135px;
        height: 22px;
        line-height: 20px;
        padding: 0 10px;
        font-weight: bold;
        font-size: 12px;
        color: var(--color-white);
        text-align: center;
        float: right;
        z-index: 11111111;
        border-radius: 90px;
        background: var(--color-primary-light);
      }


      .image {
        width: 222px;
        border-radius: 10px;
        height: 148px;
        margin-bottom: 10px;

        img {
          width: 100%;
          margin: -40px 0 0 0;
          border-radius: 10px;
        }
      }

      .date {
        font-size: 12px;
        color: #8091AC;
        margin: 0 0 5px 0;

        span {
          color: var(--color-danger);
          float: left;
          font-size: 14px;
          margin: 0 5px 0 0;
        }
      }

      .title {
        font-weight: 600;
        font-size: 14px;
        color: #575A68;
      }
    }
  }
}

::-webkit-scrollbar {
  display: none;
}
