<div class="card-news">
  <div class="container">
    <div class="titleCard"><b>Mais populares</b> (23)</div>
    <div class="card-new" (click)="navigate()">
      <div class="image">
        <div class="favorite">
          <span class="material-symbols-outlined"> favorite </span>
        </div>
        <div class="flag">900</div>
      </div>
      <div class="date">
        <span class="material-symbols-outlined"> schedule </span>Há 45 minutos
      </div>
      <div class="title">
        Instituto de Educação, Ciência e Tecnologia do Maranhão
      </div>
    </div>
  </div>
</div>
