<app-header></app-header>
<div class="container">
  <div class="image"><img alt="Obra" src="assets/images/brandao.jpeg" /></div>
  <div class="information">
    <div class="title">Carlos Brandão</div>
    <b>Profissões:</b> Médico veterinário; Empresário; Servidor público Mandatos
    (na Câmara dos Deputados):<br />
    Deputado(a) Federal - 2007-2011, MA, PSDB, Dt. Posse: 01/02/2007;
    Deputado(a) Federal - 2011-2015, MA, PSDB, Dt. Posse: 01/02/2011.<br /><br />

    Proposições de Autoria do Deputado<br />

    Proposições de Autoria do Deputado Transformadas em Norma Jurídica<br />

    Proposições Relatadas pelo Deputado<br />

    Proposições Relatadas Transformadas em Norma Jurídica<br />

    Votações em Plenário (Legislaturas): 53 , 54<br />

    Presença em Comissões (Legislaturas): 53 , 54<br />
    Presença em Plenário (Legislaturas): 53 , 54<br /><br />

    <b> Licenças:</b><br />
    Licenciou-se do mandato de Deputado Federal, na Legislatura 2011-2015, em
    licença Conjunta Consecutiva, sendo 3 dias para tratamento de saúde e 120
    dias para interesse particular, a partir de 4 de outubro de 2011, com
    convocação de Suplente. Reassunção em 4 de fevereiro de 2012.
    <br /><br />
    <b> Renúncias:</b><br />
    Renunciou ao mandato de Deputado Federal, na Legislatura 2011-2015, para
    assumir o mandato de Vice-Governador do Estado do Maranhão, em 29 de
    dezembro de 2014.
    <br /><br />
    <b>Atividades Partidárias:</b><br />
    Vice-Líder, PSDB, 13/2/2007-28/2/2008.
  </div>
</div>
<app-footer></app-footer>
