<div class="login">
  <div class="container">
    <div class="text">
      <b>Faça seu login</b> <br />
      ou crie sua conta
    </div>
    <div class="description">
      Fique por dentro de todas as novidades das obras.
    </div>
    <input type="text" placeholder="Digite seu e-mail" />
    <input type="password" placeholder="Digite sua senha" />
    <div class="password">Esqueceu sua senha? <b>Clique aqui!</b></div>
    <div class="button" (click)="login()">Entrar</div>
    <div class="account" (click)="navigate()">
      Ainda não é possui conta? <b>Crie agora!</b>
    </div>
  </div>
</div>
<div class="image"><img alt="logo" src="assets/logo/logo.svg" /></div>
