<div class="login">
  <div class="container">
    <div class="text"><b>Identifique-se</b><br />para criar sua conta</div>
    <div class="description">Informe seus dados para criar sua conta.</div>
    <input type="text" placeholder="Nome completo" />
    <input type="text" placeholder="Informe seu CPF" />
    <input type="text" placeholder="Digite seu e-mail" />
    <input type="password" placeholder="Crie sua senha" />
    <div class="password">
      Já possui conta? <b (click)="navigate()">Clique aqui!</b>
    </div>
    <div class="button" (click)="login()">Entrar</div>
  </div>
</div>
<div class="image"><img alt="logo" src="assets/logo/logo.svg" /></div>
