<app-header></app-header>
<div class="imageSaoLuis">
  <div class="container">
    <span class="material-symbols-outlined"> pin_drop </span>
    São Luis <span class="material-symbols-outlined"> expand_more </span>

    <div class="search">
      <div class="filter">
        <span class="material-symbols-outlined"> tune </span>Todas
      </div>
      <span class="material-symbols-outlined"> search </span>
      <input type="search" placeholder="Digite uma obra ou ação" />
    </div>
  </div>
</div>
<app-card-news></app-card-news>
<app-category></app-category>
<div class="container">
  <div class="cont-banner">
    <div class="banner">
      <img alt="banner" src="/assets/images/banner.jpg" />
    </div>
    <div class="banner">
      <img alt="banner" src="/assets/images/banner.jpg" />
    </div>
    <div class="banner">
      <img alt="banner" src="/assets/images/banner.jpg" />
    </div>
  </div>
</div>
<app-emphasis></app-emphasis>
<div class="map">
  <div class="container">
    <b> Mapa de Obras e Ações</b>
    <div class="search">
      <div class="filter">
        <span class="material-symbols-outlined"> tune </span>Todas
      </div>
      <span class="material-symbols-outlined"> search </span>
      <input type="search" placeholder="Digite uma obra ou ação" />
    </div>
    <div class="containerMap">
      <agm-map [latitude]="lat" [longitude]="long">
        <agm-marker [latitude]="lat" [longitude]="long"> </agm-marker>
      </agm-map>
    </div>
  </div>
</div>

<app-card-news></app-card-news>
<app-footer></app-footer>
