<app-header></app-header>
<div class="imageSaoLuis">
  <div class="container">
    <span class="material-symbols-outlined"> pin_drop </span>
    São Luis <span class="material-symbols-outlined"> expand_more </span>

    <div class="search">
      <div class="filter">
        <span class="material-symbols-outlined"> tune </span>Todas
      </div>
      <span class="material-symbols-outlined"> search </span>
      <input type="search" placeholder="Digite uma obra ou ação" />
    </div>
  </div>
</div>
<app-card-news></app-card-news>
<app-category></app-category>
<div class="container">
  <div class="banner"></div>
</div>
<app-emphasis></app-emphasis>
<app-map></app-map>
<app-card-news></app-card-news>
<app-footer></app-footer>
