@import 'src/styles/settings/responsive';

.imageSaoLuis {
  float: left;
  width: 100%;
  min-height: 200px;
  background-image: url(/assets/images/saoLuis.png) !important;
  background-repeat: no-repeat;
  background-color: var(--color-white);
  background-size: cover;
  font-size: 35px;
  line-height: 200px;
  font-weight: bold;
  color: var(--color-white);


  @include for-tablet {
    line-height: 105px;
    max-height: 100px;
    float: left;
    min-height: 100px;
    width: 90%;
    padding: 0% 5%;
  }

  span {
    color: var(--color-danger);
    font-size: 25px;
  }

  .search {
    float: right;
    width: 500px;
    margin-top: 70px;

    @include for-tablet {
      width: 100%;
      margin: -30px 0 0 0;
      float: left;
    }



    >.filter {
      position: absolute;
      float: left;
      height: 52px;
      font-size: 13px;
      font-weight: normal;
      color: var(--color-dark);
      z-index: 111111;
      margin-top: 9px;
      line-height: 50px;
      text-align: center;
      width: 100px;
      background-color: #EBF1FB;
      border-radius: 90px 0 0 90px;

      >span {
        float: left;
        color: var(--color-dark);
        margin: 15px -17px 0 10px;
        font-size: 18px;
      }
    }

    >span {
      color: var(--color-primary);
      position: relative;
      float: right;
      z-index: 11111111;
      top: 22px;
      right: 20px;
    }
  }

}

.container {
  width: 1220px;
  margin: 0 auto;

  @include for-tablet {
    width: 100%;
  }


}

.cont-banner {
  width: 100%;

  @include for-tablet {
    width: 90%;
    padding: 0 5%;
  }
}

.banner {
  width: 400px;
  height: 140px;
  border-radius: 7px;
  background-color: aliceblue;
  float: left;
  margin: 20px 5px 20px 0;
  overflow: hidden;

  img {
    width: 100%;
  }

  @include for-tablet {
    width: 100%;
  }
}


input[type="search"] {
  font-size: 130px;
  float: left;
  padding: 15px 20px 15px 120px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 90px;
  font-size: 14px;
  box-shadow: 0px 4px 8px 1px rgba(43, 77, 145, 0.2);
  margin: -16px 0 0 0;
}

.map {
  width: 100%;
  float: left;
  font-size: 20px;
  padding: 20px 0;
  line-height: 60px;
  color: var(--color-white);
  background-color: var(--color-primary-light);

  @include for-tablet {
    width: 90%;
    padding: 5%;
  }

  .container {
    width: 1220px;
    margin: 0 auto;
    line-height: 68px;

    @include for-tablet {
      width: 100%;
    }


    b {
      margin: 0 0 20px 0;
    }

    .search {
      float: right;
      width: 500px;

      @include for-tablet {
        width: 100%;
        padding: 2% 0;
        float: left;
      }


      >.filter {
        position: absolute;
        float: left;
        height: 51px;
        font-size: 13px;
        font-weight: normal;
        color: var(--color-dark);
        z-index: 111111;
        margin-top: 9px;
        line-height: 50px;
        text-align: center;
        width: 100px;
        background-color: #EBF1FB;
        border-radius: 90px 0 0 90px;

        >span {
          float: left;
          color: var(--color-dark);
          margin: 15px -17px 0 10px;
          font-size: 18px;
        }
      }

      >span {
        color: var(--color-primary);
        position: relative;
        float: right;
        z-index: 11111111;
        top: 22px;
        right: 20px;
      }
    }
  }
}

input[type="search"] {
  font-size: 130px;
  float: left;
  padding: 15px 20px 15px 120px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 90px;
  font-size: 14px;
  box-shadow: 0px 4px 8px 1px rgba(43, 77, 145, 0.2);
  margin: -16px 0 0 0;
}

agm-map {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  float: left;
  margin-top: 30px;
  height: 40vh;
}
