<header class="header">
  <img alt="Logo" (click)="home()" src="/assets/logo/logo.svg" />
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    <li><a href="/">Principal</a></li>
    <li><a href="/news">Notícias</a></li>
    <li><a href="/about">Sobre</a></li>
    <li class="mobile"><a href="/login">Fazer login</a></li>
  </ul>
  <span (click)="navigate()" class="material-symbols-outlined">
    account_circle
  </span>
</header>
