<div class="card-news">
  <div class="container">
    <div class="titleCard"><b>Destaques</b> (23)</div>
    <div class="card-new">
      <div class="image">
        <div class="favorite">
          <span class="material-symbols-outlined"> favorite </span>
        </div>
        <div class="flag">900</div>
        <img alt="Obra" src="assets/images/obra1.jpeg" />
      </div>
      <div class="contInfo">
        <div class="date">
          <span class="material-symbols-outlined"> schedule </span>Há 45 minutos
        </div>
        <div class="title">
          Maranhão já criou mais de 44 mil empregos com carteira assinada neste
          ano, afirma Caged
        </div>
      </div>
    </div>
    <div class="card-new">
      <div class="image">
        <div class="favorite">
          <span class="material-symbols-outlined"> favorite </span>
        </div>
        <div class="flag">900</div>
        <img alt="Obra" src="assets/images/obra1.jpeg" />
      </div>
      <div class="contInfo">
        <div class="date">
          <span class="material-symbols-outlined"> schedule </span>Há 45 minutos
        </div>
        <div class="title">
          Maranhão já criou mais de 44 mil empregos com carteira assinada neste
          ano, afirma Caged
        </div>
      </div>
    </div>
  </div>
</div>
