@import 'src/styles/settings/responsive';

.container-imagens {
  margin: 2%;
  width: 96%;
  float: left;
}

.container-information {
  margin: 0 auto;
  width: 1220px;

  @include for-tablet {
    width: 90%;
    padding: 0 5%;

  }

  .image {
    width: 350px;
    float: left;
    border-radius: 10px;
    overflow: hidden;

    img {
      width: 100%;
    }

    @include for-tablet {
      width: 100%;
    }

  }

  .back {
    width: 100%;
    float: left;
    margin: 20px 0;
    font-size: 14px;

    @include for-tablet {
      margin: 20px 0 30px 0;
      padding: 0 2%;
      width: 96%;
    }

    >span {
      font-size: 15px;
      margin: 3px 5px 0 0;
      float: left;
    }
  }

  .constructions {
    width: 850px;
    padding-bottom: 40px;
    float: right;

    @include for-tablet {
      width: 100%;
      margin-top: 30px;
    }

    .title {
      font-weight: 600;
      font-size: 25px;
      color: #2e2e2e;
    }

    .information {
      float: left;
      color: #404040;
      width: 100%;
      line-height: 20px;
      font-size: 13px;

      ul {
        margin: 0;
        padding: 0;
      }

      li {
        list-style: none;
      }
    }

    .selo {
      width: 100%;
      float: left;
      margin-top: 20px;

      img {
        width: 80px;
        height: 80px;
        margin: 10px 10px 0 0;
      }
    }

    .history {
      float: left;
      font-size: 14px;
      color: #2e2e2e;
      margin: 10px 0 20px 0;

      span {
        color: var(--color-danger);
        font-size: 14px;
        margin: 0 5px;
      }
    }

    .date {
      font-size: 12px;
      color: #8091AC;
      margin: 0 0 5px 0;

      span {
        color: var(--color-danger);
        float: left;
        font-size: 14px;
        margin: 0 5px 0 0;
      }
    }
  }

  .timeline {
    border-radius: 7px;
    background-color: white;
    width: 96%;
    padding: 0 2%;
    margin-bottom: 30px;
    float: left;

    @include for-tablet {
      width: 90%;
      padding: 0 5%;
    }

    .refresh {
      font-size: 13px;
      margin: 20px 0;
      color: #404040;
      width: 100%;
      float: left;
    }

    >.card-new {
      width: 100%;
      margin: 0 0 20px 0;
      float: right;
      border-radius: 10px;
      padding: 5px 5px 10px 5px;

      .image {
        width: 200px;
        border-radius: 10px;
        float: left;
        margin-right: 15px;
        margin-bottom: 10px;

        @include for-tablet {
          width: 100%;
          margin: 0 0 10px 0;
        }


        img {
          width: 100%;
          border-radius: 10px;
        }
      }


      .compartilhe {
        font-size: 12px;
        float: left;
        margin: 0 10px 0 0;

        @include for-tablet {
          width: 100%;
        }


        .social-media {
          width: 100%;

          img {
            width: 30px;
            height: 30px;
            margin: 10px 10px 0 0;
          }
        }

        .date {
          font-size: 12px;
          color: #383838;
          float: left;
          border: 1px solid #f2f2f2;
          width: auto;
          border-radius: 10px;
          padding: 5px 10px;
          margin: 0 0 10px 0;

          span {
            color: var(--color-danger);
            float: left;
            font-size: 14px;
            margin: 0 5px 0 0;
          }
        }
      }

      .description {
        line-height: 20px;
        font-size: 12px;
        margin-top: 15px;
        color: #2e2e2e;
      }

      .title {
        font-weight: 600;
        font-size: 15px;
        color: #2e2e2e;
      }
    }
  }

  .info {
    width: 70%;
    float: right;

    @include for-tablet {
      width: 96%;
      padding: 0 2%;
    }




    .description {
      font-size: 14px;
      color: #686868;
      margin-top: 20px;
    }

  }


}


.moore {
  width: 100%;
  padding: 20px 0;
  float: left;
  background-color: var(--color-white);
}
