html,
body {
  color: var(--color-gray-lightest);
  background-color: var(--color-background);
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;

}

:root {
  --font-family: 'Montserrat', sans-serif;
}
