@import 'src/styles/settings/responsive';

::-webkit-scrollbar-track {
  border-radius: 50px;
  background-color: var(--color-white);
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  border-radius: 50px;
  background-color: var(--color-white);
}

::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: rgb(216, 216, 216);
}

@include for-tablet {
  ::-webkit-scrollbar {
    width: 3px;
  }
}
